
@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300;400;500;600&display=swap');
*{
   
    font-family: 'Yaldevi', sans-serif;
    margin: 0;
}

.header p{
    font-size: 14px;
    line-height: 25px;
    color: #777;
}

.half-width{
    margin-left: 5%;
    padding-left:2%;
    width: 40%;
    float: left;
}


.color-highlight{
    color: #fa6610;
}
.half-width img{
    width:80%;
    margin-left: 5%;
    margin-top: 40px;
    
}
.half-width h1{
    line-height: 80px;
    font-size:50px;
    margin-top: 80px;
}

.button{
    text-decoration: none;
    padding: 14px 36px;
    background: linear-gradient(45deg, #FFCE1A, #ff6333);
    border-radius: 5px;
    color: #fff;
    display:inline-block;
    margin-top: 30px;
}

.header{
    background-image: url(images/header-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


section{
    height: 500px;
    padding-bottom: 150px;
    
}


.biography{
    margin-top: 30px;
    background-image: url(images/biography-bg.png);
}


.half-width-bio{
    margin-top: 150px;
    margin-left:100px;
    width: 40%;
    float: left;
   
    
}
.half-width-bio h1{
    line-height: 80px;
    font-size:50px;
    text-align: left;
    margin-bottom: 30px;
}

.half-width-bio p{
    text-align: left;
    font-size: 14px;
    color:#777;
    line-height: 25px;
}

.bio-highlight{
    color: #FF1D75;
    
}


.bio-button{
    padding: 16px 36px;
    background: linear-gradient( 45deg,#FF4F95,#fa0768);
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-top: 30px;
    color: #fff;
 
}

.latest-work{
    background-image: url(images/latest-work-bg.png);
    background-position: center;
    background-size: cover;
    height: 450px;
}

.latest-work h1{
    text-align: center;
    font-size: 45px;
    margin-top: 160px;
    margin-bottom: 130px;
}

.pictures{

    align-items: center;
}

.pictures img{
    width: 350px;
    margin-left: 6%;
}

.latest-lighlight{
    color:#EC596D;
}

.footer{
    background: url(images/footer-bg.png);
    background-position: center;
    background-size: cover;
}

.footer h1{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}


.footer h2{
    text-align: center;
    font-size: 30px;

}

.footer p{
    text-align: center;
    color:#777;
    font-size: 14px;
    margin-top: 20px;
    line-height: 20px;
}

.footer a{
    text-decoration: none;
    margin-left: 550px;
    display: inline-block;
    margin-top: 40px;
    padding: 16px 36px;
    background: linear-gradient(45deg,#51E489,#07a343);
    color: #fff;
    border-radius: 10px;
}


.follow{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.icons{
    text-align: center;
    margin-top: 30px;
}

.icons i{
    margin-left: 20px;
    color: #F1596E;
}


.client{
    color: #5F5AF3;
}


.peter-highlight{
    color:#F1596E;
}

.made{
    text-align:center;
    display: block;
    margin-top: 40px;
    color: #777;
    font-weight:bold;
}

#hart{
    color:#51E489;
}



